<div class="container">
  <div class="text-center">
    <h3>Single Page Application</h3>
  </div>
    <div>
        <div>
          <h4 class="text-danger">Add User</h4>
          <button type="button" class="btn btn-info float-right" (click)="returnHome()">Go Back</button>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
            <input type="text"  #name  class="form-control" placeholder="Enter a Name" aria-label="name" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Age</span>
            </div>
            <input type="number"  #age  class="form-control" placeholder="Enter a Age" aria-label="email" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Contact Number</span>
            </div>
            <input type="number"  #contact  class="form-control" placeholder="Enter a Contact Number" aria-label="email" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Email</span>
            </div>
            <input type="email"  #email  class="form-control" placeholder="Enter a Email" aria-label="email" aria-describedby="basic-addon1">
        </div>
        
        <div class=" float-right">
            <button type="button float-right" class="btn btn-success" (click)="addPerson(name.value,age.value,contact.value,email.value)">Add Person</button>
        </div>
    </div>

</div>
